
<div class="container">
  <div class="row RowTop">
    <div class="col-md-4">
      <button [routerLink]="['/books']" type="button" class="btn btn-primary" >Click to Go Back!</button>
    </div>
  </div>
  <br><br>
  <div class="row RbRow">

      <div [routerLink]="['/book-details/', book._id]" class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Book Title: {{book.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Description: {{book.description}}
              <br>ISBN: {{book.isbn}}
              <br>Author: {{book.author}}
              <br>Publisher {{book.publisher}}
              <br>Published Year {{book.published_year}}</h6>
            <p class="card-text">Date Updated: {{book.updated_date | date}}</p>
          </div>
        </div>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <button [routerLink]="['/book-edit', book._id]" type="button" class="btn btn-primary" >Click to Edit!</button>
    </div>
    <div class="col-md-2">
      <button (click)="deleteBook(book._id)" type="button" class="btn btn-danger" >Click to Delete!</button>
    </div>
  </div>
</div>

