<div class="container">
  <div class="row">
    <form (ngSubmit)="onFormSubmit(bookForm.value)" [formGroup]="bookForm">
      <div class="form-group">
        <label for="isbn">ISBN:</label>
        <input class="form-control" id="isbn" formControlName="isbn">
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        <input class="form-control" id="author" formControlName="author">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-control" id="description" formControlName="description">
      </div>
      <div class="form-group">
        <label for="publisher">Publisher:</label>
        <input class="form-control" id="publisher" formControlName="publisher">
      </div>
      <div class="form-group">
        <label for="published_year">Published Year:</label>
        <input class="form-control" id="published_year" formControlName="published_year">
      </div>
      <br><br>
      <button [routerLink]="['/books']" type="button" class="btn btn-primary">Back</button>
      &nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

