<div class="container">
  <div class="row">
    <div class="col-md-4">
  <button [routerLink]="['/book-create']" type="button" class="btn btn-primary" >Click to Add Book!</button>
    </div>
  </div>
  <div class="row RbRow">
    <div *ngFor="let book of books">
      <div [routerLink]="['/book-details/', book._id]" class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{book.isbn}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Location: {{book.title}}
              <br>Cross Street {{book.author}}</h6>
            <p class="card-text">Category: {{book.published_year}}</p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
