.Rock {

    background-image: url("Images/Rock.png");
    width: 217px;
    height: 216px;
    background-position: -2.3px;
    border-radius: 33px;
    opacity: 0.3;

}

.Paper {

    background-image: url("Images/Paper.png");
    width: 217px;
    height: 216px;
    background-position: -1px;
    border-radius: 33px;
    opacity: 0.3;

}

.Scissors {

    background-image: url("Images/Scissors.png");
    width: 217px;
    height: 216px;
    background-position: -1px;
    border-radius: 33px;
    opacity: 0.3;

}

.NewGame {

    width: 100px;
    height: 25px;
    border-radius: 10px;
    margin-top: 20px;

}

.FontLabel {
    font-size: 30px;
}

.ImageDiv {
    font-size: 20px;
    font-weight: bold;
}

.buttonlabel {
    padding-bottom: 30px;
    padding-top: 30px;
}


