.rightdiv{
    background-color: lightgray;
    width: 74.3%;
    float: left;
    padding-left: 10px;
}

.rightdiv > span > a > img{
    width: 262px;
    height: 193px;
}

.leftdiv{
    background-color: lightcyan;
    width: 24.3%;
    height: 100%;
    float: left;
    padding-left: 10px;
}

.leftdiv > ul > li > img{
    width: 262px;
    height: 193px;
}

.bottomleft{
    background-color: lightblue;
    width: 38.6%;
    float: left;
    padding: 10px;
}

.bottomleft > fieldset > img{

    width: 425px;
    height: 290px;
}

.bottomright{
    background-color: lightpink;
    width: 58.7%;
    float: left;
    padding-left: 20px;
}